{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid mt-5">
        <h2 class="d-flex justify-content-center"> Add order</h2>
        <form name="post" action="{{ path('add_order')  }}" method="POST" enctype="multipart/form-data" class="container" >

            <div class="form-group">
                <label for="shipping_adress">
                    shipping adress
                </label>

                <input type="text" id="shipping_adress" name="shipping_adress" class="form-control">
            </div>
            <div class="form-group">
                <label for="user">
                    user id
                </label>
                <input type="text" name="user" id="user" class="form-control">
            </div>
            <div class="form-group" id="addafter">
                <label for="object_select">
                <select name="object_select[]" >
                    {% for object in objects %}
                        <option name="object_select[]"> {{ object.id}} : {{  object.name }} </option>
                    {% endfor %}
                </select>
                <label for="object_amount">
                    Amount:
                </label>
                <input type="text" name="object_amount[]" multiple="multiple" id="object_amount" class="form-control" >
            </div>
           Add objects with JS
            dropdown menu with all objects + sign to add
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>

    <label>
    <input id='addObject' onclick="addInput()" class="btn btn-primary" type="submit">
</label>




{% endblock %}

{%  block javascripts %}
    {{ parent() }}
<script>

let count = 1;

const addInput = () => {

    $('#addafter').append(`<div><label for="object_select"><select name="object_select[${count}]">{% for object in objects %}<option name="object_select[${count}]"> {{ object.id }} : {{ object.name }} </option>{% endfor %}</select><label for="object_amount">Amount:</label><input type="text" name="object_amount[${count}]" id="object_amount" class="form-control"></div>`)

    count+=1;

};

</script>

{% endblock %}