{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="input-group input-group-lg mt-5">
            <div class="input-group-prepend">
                <span class="input-group-text bg-primary text-light" id="inputGroup-sizing-lg">Search Objects</span>
            </div>
            <input class="form-control" type="search" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="row">
            {% for object in objects %}
                    <div class="col">
                        <div class="card mt-2" style="width: 15rem;">

                        {% for image in object.Images %}
                            {% if loop.first %}
                                <img class="card-img-top" src="{{ asset(image.path)}}" alt="object_image">
                            {% endif %}
                        {% endfor %}

                            <h5 class="card-title text-center">{{ object.Name }} </h5>
                            <div class="card-body">
                        <p class="card-text" >
                            Time to print: {{ object.PrintTime }}
                            Price: {{ object.getCurrentPriceValue }}
                            How many files: {{ object.files | length }}</p>
                                <a class="card-link" href="{{ path('object_detail',{ 'id': object.id  }) }}"> Details...</a>
                            </div>

                        </div>
                        </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}