{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col ">
                <div class="card mt-5">
                <div class="card-header bg-primary text-light"> object-detail</div>
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4" >Object: {{ object.id}}</h3>
                        <form  action="{{ path('edit_object',{ 'id': object.id  }) }}">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">

                                    <label for="object_name">
                                        Name:
                                        <input type="text" name="object_name" placeholder="{{ object.name }}">
                                    </label>

                                    <label for="object_printtime">
                                        printtime:
                                        <input type="text" name="object_printtime" placeholder="{{ object.PrintTime }}">
                                    </label>

                                <label for="object_size">
                                    Size:
                                    <input type="text" name="object_size" placeholder="{{ object.size }}">
                                </label>
                                <label for="object_published">
                                    Published:
                                    <input type="checkbox" name="object_published"  {{ object.published ? 'checked' : '' }}>

                                </label>
                            </li>

                            <li class="list-group-item">
                                <h4>Images</h4>
                                {% for image in object.Images %}

                                    <label for="object_image">
                                        Image name
                                        <input type="text" name="object_image" placeholder="{{ image.name }}">
                                    </label>

                                    <label for="image_path">
                                        Image Path
                                        <input type="text" name="image_path" placeholder="https://wdev.be/wdev_arno/eindwerk/public{{ image.path }}">
                                    </label>
                                {% endfor %}
                            </li>

                            <li class="list-group-item">
                                <h4>Files</h4>
                                {% for file in object.files %}

                                    <label for="object_file">
                                        file name
                                        <input type="text" name="object_file" placeholder="{{ file.name }}">
                                    </label>
                                {% endfor %}
                            </li>

                            <li class="list-group-item">
                                <h4 class="">Prices</h4>
                                    <label for="object_price">
                                        price
                                        <input type="text" name="object_price" placeholder="{{ object.getCurrentPriceValue }}">
                                        <input type="date" name="object_price_start" >
                                    </label>
                            </li>

                        </ul>

                            <div class="card-link">
                                <button type="submit" class="btn btn-primary" > Edit</button>
                            </div>

                        </form>
                        <form class="card-link" action="{{ path('delete_object',{ 'id':  object.id  })  }}">
                            <button type="submit" class="btn btn-danger" > delete</button>
                        </form>

                    </div>
                </div>

                <div class="media">
                    <div class="row no-gutters">
                {% for image in object.Images %}
                    <img src="https://wdev.be/wdev_arno/eindwerk/public{{ image.path }}" class="img-fluid img-thumbnail" style="object-fit: cover" alt="{{ image.name }}" >
                {% endfor %}
                </div>
                </div>
            <a href="/">Home</a>
            </div>
        </div>
    </div>

{% endblock %}