{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <form method="post"  id="formsubmit" action="{{ path('search_object') }}" >
        <div class="input-group input-group-lg mt-5">
            <div class="input-group-prepend">

                <input  class="input-group-text bg-primary text-light" id="inputGroup-sizing-lg" value="Search object" type="submit">
            </div>
            <input name='search' class="form-control" type="search" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        </div>
    </form>
    </div>
    <div class="container-fluid">
        <div class="row">
            {% for object in objects %}
                    <div class="col">
                        <div class="card mt-2" style="width: 15rem;">

                        {% for image in object.Images %}
                            {% if loop.first %}
                                <img class="card-img-top" src="https://wdev.be/wdev_arno/eindwerk/public{{image.path}}" alt="object_image">
                            {% endif %}
                        {% endfor %}

                            <h4 class="card-title text-center">{{ object.Name }} </h4>
                            <div class="card-body">
                        <ul class="card-text list-unstyled" >
                            <li>Published : {{ object.published ? 'Yes': 'No' }} </li>
                            <li>Time to print: {{ object.PrintTime }}</li>
                            <li>Price: {{ object.getCurrentPriceValue }} </li>
                            <li>How many files: {{ object.files | length }} </li>

                        </ul>
                                <a class="card-link" href="{{ path('object_detail',{ 'id': object.id  }) }}"> Details...</a>
                            </div>

                        </div>
                        </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}