{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col ">
                <div class="card mt-5">
                <div class="card-header bg-primary text-light"> object-detail</div>
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4" >Object: {{ object.id}}</h3>
                        <form  action="{{ path('edit_object',{ 'id': object.id  }) }}" method="POST" enctype="multipart/form-data">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">

                                    <label for="object_name">
                                        Name:
                                        <input type="text" name="object_name" placeholder="{{ object.name }}">
                                    </label>

                                    <label for="object_printtime">
                                        printtime:
                                        <input type="text" name="object_printtime" placeholder="{{ object.PrintTime }}">
                                    </label>

                                <label for="object_size">
                                    Size:
                                    <input type="text" name="object_size" placeholder="{{ object.size }}">
                                </label>

                                    <label for="object_description">
                                        Object description
                                    </label>
                                    <textarea  name="object_description" id="object_description" class="form-control"></textarea>

                                <label for="object_published">
                                    Published:
                                    <input type="checkbox" name="object_published"  {{ object.published ? 'checked' : '' }}>

                                </label>
                            </li>

                            <li class="list-group-item">
                                <h4>Add new images</h4>


                                <div class="form-group">
                                    <label for="object_images">
                                        Add all images, previous images will be deleted!
                                    </label>
                                    <input type="file" name="object_images[]" id="object_images" multiple="multiple" class="form-control">
                                </div>
                            </li>



                            <li class="list-group-item">
                                <h4 class="">Prices</h4>
                                    <label for="object_price">
                                        price
                                        <input type="text" name="object_price" placeholder="{{ object.getCurrentPriceValue }}">
                                        <input type="date" name="object_price_start" >
                                        <input type="text" name="object_price_description">
                                    </label>
                            </li>

                        </ul>

                            <div class="card-link">
                                <button type="submit" class="btn btn-primary" > Edit</button>
                            </div>

                        </form>
                        <form class="card-link" action="{{ path('delete_object',{ 'id':  object.id  })  }}">
                            <button type="submit" class="btn btn-danger" > delete</button>
                        </form>

                    </div>
                </div>

                <div class="media">
                    <div class="row no-gutters">
                {% for image in object.Images %}
                    <img src="https://wdev.be/wdev_arno/eindwerk/system/public{{ image.path }}" class="img-fluid img-thumbnail" style="object-fit: cover" alt="{{ image.name }}" >
                {% endfor %}
                </div>
                </div>
            <a href="/">Home</a>
            </div>
        </div>
    </div>

{% endblock %}