{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
        <h2>Total orders: {{ orders | length }}</h2>

        <div id="root" class="row"></div>
    </div>
    <div class="container-fluid">
            {% for order in orders %}

                {%if loop.index <  6 %}
                    <div class="card w-75 ml-auto mr-auto mt-5 row">
                        <div class="card-header bg-primary text-light">
                            <h3 class="card-title">Order {{ order.id }} {{ order.date | date ('d/m/Y') }}</h3>
                            <div class="card-subtitle">User : {{ order.user.name }}</div>
                        </div>
                        <div class="card-body">



                {% for object in order.Allobjects %}
                            <div class="col">
                                <h5 class="center">{{ object.name }}
                                    {% for detail in object.details %}
                                    {% if  order.id == detail.orders.id %}: {{ detail.quantity }}</h5>
                                    {% endif %}
                                {% endfor %} <!--Detail end-->


                                <ul class="list-unstyled list-group  list-group-horizontal-md">



<!-- replace this shit Twig bullshit with react so we can actually do something in a website instead of bumping into errors and other bullshit
Twig sucks so badly it can't even call a fucking function from inside a form to javascript it is so inept at what it does it can't even be called a tool-->

                    {% for file in object.files %}
                        <li class="list-group-item ">
                            <form method="post" class="justify-between formsubmit" id="formsubmit" >
                                <label for="file_id">
                                    <input name="file_name" id="file_name" value="{{ file.name }}" hidden />
                                </label>
                                <label for="printer_select">
                                    {{file.name}}
                                    <select name="printer_select" id="printer_id">
                                        {% for printer in printers %}
                                            <option name="printer_id" id="printer_id"> {{ printer.name }} : {{ printer.IP }} : {{ printer.APIkey }} </option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <button type="submit" class="btn btn-default"> Send file</button>
                            </form>
                        </li>


                    {% endfor %} <!--File end-->
                                </ul>
                            </div>

                {% endfor %}<!--Object end-->

                        </div>
                        <div class="card-footer text-muted">
                            <form method="post" action="{{ path('download_invoice', {'id': order.id })}}">
                                <label for="order_id">
                                    <input name="order_id" value="{{ order.id }}" hidden>
                                </label>
                                <button type="submit" class="btn btn-default"> Invoice</button>
                            </form>
                        </div>
                    </div>

                {% endif %}

        {% endfor %} <!--Order end-->
    </div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var initialAppState = {{ printersserialized | raw }} ;
    </script>
    {{ encore_entry_script_tags("helper") }}
    {{ encore_entry_script_tags("orders") }}


{% endblock %}