<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}3DPrintFarm{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet"  href="{{ asset('css/main.css') }}" type="text/css" />
            <img src="{{ asset('/uploads/images/0cbe9692000def187840d5e877e7e507.jpeg') }}" alt="test">
        {% endblock %}
    </head>
    <body>
    <nav>
        <ul>
            <li><a href="{{ path('app_admin_objects') }}">Objects </a></li>
            <li><a href="{{ path('app_admin_orders') }}">Orders </a></li>
            <li><a href="/api">API</a></li>
            <li><a href="{{ path('app_logout') }}">Logout</a></li>

        </ul>
    </nav>

        {% block body %}{% endblock %}
    {% block main %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
