
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice 3DPrintFarm </title>
</head>
<body>


<div style="background-color: lightslategray; width: 100%; height: 120px;">
<h1 style="color: floralwhite" >Invoice 3DPrintFarm </h1>
    <p style="margin-left: 80%; color: floralwhite;"> Company name adress and phone number</p>
</div>
<hr>
<strong>{{ order.date | date ('d/m/Y')}}</strong><p>order:{{ orderid }}</p>
<br>
<br>

    <h2>Name: </h2>
    <strong>{{ order.user.name }}</strong>
    <h2>Adress:</h2>
    <strong>{{ order.shippingadress }}</strong>
    <h3> Products: </h3>




<table style="border: 1px solid black; width: 100%;">
    <tr style="border: 1px solid black; background: lightgrey">

        <th>
            Object Name:
        </th>



        <th>
            Amount:
        </th>


        <th>
            Price:
        </th>


        <th>
            Subtotal:
        </th>

    </tr>

    {% for detail in details %}


    <tr>

            <td>
                {{ detail.objects.name }}
            </td>

            <td>
              X  {{ detail.quantity }}
            </td>

            <td>
                ${{ detail.objects.getCurrentPriceValue }}
            </td>


            <td>
                ${{ detail.quantity*detail.objects.getCurrentPriceValue }}
            </td>

    </tr>

{% endfor %}
</table>
<strong> Total: </strong>

{% for detail in details %}

    {% set sum = detail.quantity*detail.objects.getCurrentPriceValue  + sum ?? 0 %}
    {% if loop.last %} ${{ sum }}{% endif %}
{% endfor %}

<br>
<br>
<hr>
Copyright en alles, alles is gereserveerd.
Ik zie eulle daar
</body>
</html>